<div class="container">
  <% if current_user.employee_notification_auth %>
    <p class="new_notification"><%= link_to '新規追加', new_employee_notification_path, class: 'btn' %></p>
  <% end %>
  <% @notifications.each do |notification| %>
    <%= render "notification", notification: notification %>
  <% end %>
</div>
