// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notification_index {
  .new_notification {
    text-align: right;
    margin-right: 31px;
  }

  .btn {
    border: 1px solid;
    padding: 3px 5px;
  }

  .notification_table {
    height: fit-content;
    width: 700px;
    table-layout: fixed;
    margin-top: 20px;

    .notification_body {
      height: 500px;
    }
    thead {
      line-height: 50px;

      .department_th {
        width: 90px;
      }
    }

    .name {
      text-align: left;
      width: 350px;
      padding-left: 50px;
    }

    .employee {
      line-height: 30px;

      .btn_th {
        display: inline-block;
      }
    }
  }
}
